@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Sofia+Sans+Condensed&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  font-family: "Lora", serif;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-color: #333;
  font-family: sans-serif;
  min-height: 100vh;
}
.logo {
  height: 70px;
}
.header {
  background-color: #a72714;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: 800;
  gap: 20px;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.abrir-menu {
  display: none;
  text-align: center;
  font-size: 2rem;
}
.cerrar-menu {
  display: none;
  text-align: center;
  font-size: 2rem;
}

.displayNavbar {
  display: flex;
}
@media screen and (max-width: 720px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }

  .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #a72714;

    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .bienvenida > p {
    font-size: 1.3rem !important;
  }

  .more {
    flex-direction: column !important;
  }
  .image {
    transform: scale(0.8);
  }
  .content {
    font-size: 1rem !important;
    margin-bottom: 30px;
  }
  .cartCheckout {
    width: 90% !important;
  }

  .cartViewer {
    width: 100% !important;
  }
  .cartItem {
    flex-direction: column;
    height: unset !important;
    font-size: 1em !important;
  }
  .cartItem__img {
    width: unset !important;
  }
  .checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  .formStep {
    width: 100%;
  }

  .lastButtons {
    gap: 10em !important;
  }
}
.bienvenida {
  font-weight: 500;
  margin-block: 15px;
  text-align: center;
  height: 80px;
}
.bienvenida > p {
  color: white;
  font-size: 1.5rem;
}

.cart {
  position: relative;
  right: 1px;
}
.number {
  font-size: 0.7em;
  position: absolute;
  top: -5px;
  right: -2px;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;
  color: black;
  background-color: aliceblue;
  font-size: 1.2em;
  object-fit: scale-down;
}

.card > img {
  object-fit: cover;
  padding: 20px;
  opacity: 0.95;
  height: 350px;
  border-radius: 10%;
  width: 25rem;
}
.card > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 0.9em;
}
.price {
  font-size: 1.4em !important;
  color: green;
}
.card > h4 {
  font-size: 1.1em;
  margin-block: 10px;
  text-align: center;
}
.botones {
  height: 50px;
  margin-top: 10px;
  width: 100%;
  background-color: #f54222;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  border: unset;
}

.more {
  display: flex;
  flex-direction: row;
  background-color: #252525;
  color: rgba(255, 255, 255, 0.788);
  transform: scale(0.9);
}
.image {
  object-fit: contain;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.countbutton {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.valuetotal {
  font-size: 1.5em;
}
.botonescart {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.1em;
  border: unset;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.botonescart:hover {
  background-color: #a72714;
}
.counter {
  padding: 20px;
  font-size: 1.5rem;
}
.texto > p {
  color: #f54222;
  font-size: 3rem;
}
.cartItem__container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.cartItem {
  display: flex;
  background-color: #252525;
  padding: 15px;
  font-size: 1.2em;
  color: white;
  height: 300px;
  margin-top: 20px;
  gap: 20px;
  border: solid #f542221a;
  width: 40%;
}

.cartItem__text {
  width: 100%;
  height: 300px;
  padding-right: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.cursor {
  cursor: pointer;
}
.iconCart {
  display: flex;
  gap: 20px;
  color: red;
  justify-content: flex-end;
}
.cartItem__img {
  width: 10em;
}
.cartTotal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  gap: 15px;
  font-size: 1.5em;
  text-align: center;
  width: 10rem;
  margin-left: auto;
  background-color: #a72714;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.confirmedButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 15px;
  gap: 5px;
  font-size: 1.2em;
  text-align: center;
  width: 10rem;
  margin-left: auto;
  background-color: #f9f9f9;
  color: #6d1508;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 500;
}
.confirmed {
  font-size: 0.9em;
}
.checkCart {
  transition: 0.5s;
  background-color: unset;
  border: unset;
}
.checkCart:hover {
  color: rgb(0, 255, 0);
}
.confirmedButton:hover {
  color: white;
  background-color: #6d1508;
}

.cleanCart {
  background-color: white;
  color: #6d1508;
  font-size: 1.5em;
  transition: 0.5s;
  border-radius: 1.2rem;
  padding: 3px;
}
.cleanCart:hover {
  color: white;
  background-color: #6d1508;
}
.green {
  color: white;
}

.cartContainer {
  position: relative;
}
.cartButtons {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 10em;
  margin-left: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 1em;
  width: 60%;
}
.formText {
  font-size: 1.5em;
}

input {
  background-color: #f9f9f9;
  font-size: 1em;
  width: 100%;
  border: none;
  transition: 0.3s;
  border-bottom: 2px solid #a72714;
}
input:focus-visible {
  outline: unset;
  border-bottom: 2px solid #a72714;
}
.formColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-inline: 10px;
}
.cartCheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}
.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout > h1 {
  margin-bottom: 15px;
  color: white;
}

.imgForm {
  height: 300px;
}

.buttonForm {
  height: 40px;
  margin-top: 10px;

  font-size: 1.3em;
  background-color: #a72714;
  color: white;
  border-radius: 0.4em;
  transition: 0.3s;
  margin-bottom: 10px;
}
.buttonForm:hover {
  background-color: white;
  color: #a72714;
}

.lastButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20em;
}
.checkoutStep {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.cartCheckoutStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.cartViewer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 20em;
  padding: 20px;
  line-height: 1.5;
  border-radius: 1em;
  font-size: 1.3em;
  flex: wrap;
}

.fontWeight {
  font-weight: 800;
}

.unset {
  font-weight: 400;
}

.position {
  position: absolute;
  top: 1;
  right: 0;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: 800;
  transition: 0.5s;
}
.position:hover {
  transform: scale(1.1);
  border-radius: 20em;
  background-color: #a72714;
  color: white;
  font-weight: 400;
}
