*{
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
  box-sizing:border-box;
}
a{
  text-decoration: none; 
}
body{
  background-color: #333;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 1em;
  min-height: 100vh;
}
.logo{height: 70px;}
.header{
  background-color: #A72714;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}
.navbar{
  display:flex;
  flex-direction:row;
  font-size: 1.2em;
  font-weight: 800;
  gap: 20px;
  align-items: center;
}

footer{
  display: flex;
  background-color: #A72714;
  font-weight: 800;
  justify-content: center;
  align-items: end;
  font-size: 1em;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bienvenida{
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 20px;
  text-align:center;
  height: 100px;
}
.bienvenida>p{ color: white;}

.cart{
  position: relative;
  right: 1px;
}
.number{
  font-size: 0.6em;
  position: absolute;
  top: -5px;
  right: -2px;
  background-color: red;
  border-radius: 10px;
  padding: 2px;
}
